@page "/Municipality/AddMunicipality"
@using FribergHomezClient.Services.Base
@using System.Net.Http.Json
@using System.Text.Json
@using FribergHomezClient.Services.ModelService
@inject HttpClient httpClient
@inject NavigationManager navMan
@inject IMunicipalityService municipalityService
@inject IJSRuntime JSRuntime


<div class="container">
    <h1 class="mb-4">Lägg till ny kommun</h1>

    <div class="col-md-3 mb-3">
        <input type="text" class="form-control" placeholder="Kommun" @bind="newMunicipality" />
    </div>
    <div>
        <button type="submit" class="btn btn-success" @onclick="AddNewMunicipality">Lägg till</button>
        <button type="button" class="btn btn-danger" @onclick="ReturnToPreviousPage">Avbryt</button>
    </div>
</div>

@code {
    private string newMunicipality = "";

    private async Task AddNewMunicipality()
    {
        var municipality = new Municipality
            {
                Name = newMunicipality
            };

        await municipalityService.CreateMunicipalityAsync(municipality);
        navMan.NavigateTo("/Municipality/ListAllMunicipalities");
    }
    private void ReturnToPreviousPage()
    {
        navMan.NavigateTo("/Municipality/ListAllMunicipalities");
    }
}
