@using FribergHomezClient.Services.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using FribergHomezClient.Services
@inject IAuthenticationService AuthenticationService

@* @inject AuthenticationState authenticationState
@inject IAuthenticationService authenticationService *@

<base href="/" />
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/FribergHomezLogo.jpeg" alt="FribergHomezClient" width="40" height="40" style="border-radius: 15px;" />
            FribergHomezClient
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Hem
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="SalesObject/ListAllSalesObjects">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Alla försäljningsobjekt
                    </NavLink>
                </li>
                <AuthorizeView>
                    <Authorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="SalesObject/REAgentSalesObjects">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Mina försäljningsobjekt
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Municipality/ListAllMunicipalities">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Kommuner
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Category/ListAllCategories">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Kategorier
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Firm/ListAllFirms">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Firmor
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="RealEstateAgent/ListAllRealEstateAgents">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Alla mäklare
                    </NavLink>
                </li>

                        <li class="nav-item" style="cursor:pointer;">
                            <NavLink class="nav-link" @onclick="Logout">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logga ut
                            </NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Login/UserLogin">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logga in
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    

    private async Task Logout()
    {
        await AuthenticationService.Logout();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}