@page "/Category/AddCategory"
@using FribergHomezClient.Services.Base
@using System.Net.Http.Json
@using System.Text.Json
@using FribergHomezClient.Services.ModelService
@inject HttpClient httpClient
@inject NavigationManager navMan
@inject ICategoryService categoryService
@inject IJSRuntime JSRuntime


<PageTitle>Lägg till ny kategori</PageTitle>
<div class="container">
    <h3 class="mb-4">Lägg till ny kategori</h3>

    <div class="mb-3">
        <input type="text" id="CategoryNameInput" class="form-control" @bind="newName" placeholder="Kategorinamn" style="max-width: 500px;"/>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <button class="btn btn-success me-2" style="background-color:#4F6F52; border-color:#4F6F52;" @onclick="AddNewCategory">Spara</button>
            <button class="btn btn-danger" style="background-color:#B73E3E; border-color:#B73E3E;" @onclick="ReturnToPreviousPage">Avbryt</button>
        </div>
    </div>
</div>


@code {
    private string newName;
    private Category NewCategory;

    private async Task AddNewCategory()
    {
        NewCategory = new Category()
            {
                Name = newName,
               
            };

        await categoryService.CreateCategoryAsync(NewCategory);
        navMan.NavigateTo("/Category/ListAllCategories");
    }
    private void ReturnToPreviousPage()
    {
        navMan.NavigateTo("/Category/ListAllCategories");
    }
}
