@page "/Category/EditCategory/{Id:int}"
@using FribergHomezClient.Services.Base
@inject NavigationManager navMan
@using System.Net.Http.Json
@using System.Text.Json
@using FribergHomezClient.Services.ModelService
@inject HttpClient httpClient
@inject ICategoryService categoryService
@inject IJSRuntime JSRuntime

@*Henrik*@
<div class="container">
    <h3 class="mb-4">Redigera kategori</h3>

    @if (category != null)
    {
        <form @onsubmit="UpdateCategory">
            <div class="mb-3">
                <input type="text" id="Name" class="form-control" @bind="category.Name" required placeholder="Namn" style="max-width: 500px;"/>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success me-2" style="background-color:#4F6F52; border-color:#4F6F52;">Spara</button>
                    <button class="btn btn-danger" style="background-color:#B73E3E; border-color:#B73E3E;" @onclick="ReturnToPreviousPage">Avbryt</button>
                </div>
            </div>
        </form>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    public Category category = new Category();
    public Category newCategory;

    protected override async Task OnInitializedAsync()
    {
        Response<Category> response = await categoryService.GetCategoryByIdAsync(Id);
        if (response.Success)
        {
            category = response.Data;
        }
    }

    private async Task UpdateCategory()
    {
        newCategory = category;
        try
        {

            await categoryService.UpdateCategoryAsync(newCategory.Id.ToString(),newCategory);
            navMan.NavigateTo("/Category/ListAllCategories");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }
    private async Task ReturnToPreviousPage()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }

}
