@* @page "/Category" *@
@using FribergHomezClient.Components
@using FribergHomezClient.Models
@using System.Net.Http.Json
@using System.Text.Json
@inject HttpClient httpClient

<PageTitle>Category</PageTitle>

<h1>Categories</h1>

@if (CategoryList == null)
{
    <p>Can't find Categories'</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in CategoryList)
            {
                <tr>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    public List<Category>? CategoryList;


    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetAsync("/api/category");
        if(response.IsSuccessStatusCode)
        {
            CategoryList = await response.Content.ReadFromJsonAsync<List<Category>>();
        }

    }

}
