@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome</h1>

<div>
    <h3>Mäklare</h3>

    <a href="/RealEstateAgent/AddRealEstateAgent">Lägg till mäklare </a>
    <br />
    <a href="/RealEstateAgent/ListAllRealEstateAgents">Visa alla mäklare </a>
    <br />
    <a href="/RealEstateAgent/RealEstateAgentDetails/5">Visa mäklardetaljer </a>
    <br />
    <a href="/RealEstateAgent/EditRealEstateAgent/5">Redigera mäklare </a>
    <br />
    <a href="/RealEstateAgent/DeleteRealEstateAgent">Ta bort mäklare </a>




</div>


