@page "/Firm/AddFirm"
@using FribergHomezClient.Services.Base
@using System.Net.Http.Json
@using System.Text.Json
@using FribergHomezClient.Services.ModelService
@inject HttpClient httpClient
@inject NavigationManager navMan
@inject IFirmService firmService
@inject IJSRuntime JSRuntime

@*Henrik*@
<div class="container">
    <h3 class="mb-4">Lägg till ny firma</h3>

    <div class="mb-3">
        <input type="text" id="nameInput" class="form-control" @bind="newName" placeholder="Namn" style="max-width: 500px;" />
    </div>
    <div class="mb-3">
        <input type="text" id="presentationInput" class="form-control" @bind="newPresentation" placeholder="Presentation" style="max-width: 500px;" />
    </div>
    <div class="mb-3">
        <input type="text" id="imageLocationInput" class="form-control" @bind="newImageLocation" placeholder="Image location" style="max-width: 500px;" />
    </div>
  
    <div class="row mb-3">
        <div class="col-md-6">
            <button class="btn btn-success me-2" style="background-color:#4F6F52; border-color:#4F6F52;" @onclick="AddNewFirm">Spara</button>
            <button class="btn btn-danger" style="background-color:#B73E3E; border-color:#B73E3E;" @onclick="ReturnToPreviousPage">Avbryt</button>
        </div>
    </div>
</div>



@code {
    private string newName;
    private string newPresentation;
    private string newImageLocation;
    private Firm NewFirm;

    private async Task AddNewFirm()
    {
        NewFirm = new Firm()
            {
                Name = newName,
                Presentation = newPresentation,
                ImageLocation = newImageLocation,
                IsActive = true
            };
    
        await firmService.CreateFirmAsync(NewFirm);
        navMan.NavigateTo("/Firm/ListAllFirms");

        
    }

    public void UpdateStatus(int value)
    {

        if (value == 0)
        {
            NewFirm.IsActive = false;
        }
        else if (value == 1)
        {
            NewFirm.IsActive = true;
        }
        

    }

    private async Task ReturnToPreviousPage()
    {

        await JSRuntime.InvokeVoidAsync("history.back");

    }
}
