@page "/Firm/EditFirm/{Id:int}"
@using FribergHomezClient.Models
@inject NavigationManager navMan
@using System.Net.Http.Json
@using System.Text.Json
@inject HttpClient httpClient

<h3>Redigera</h3>

@if (firm != null)
{
    <form @onsubmit="UpdateCategory">
        <div>
            <label for="Name">Namn:</label>
            <input type="text" id="Name" @bind="firm.Name" required />
        </div>
        <div>
            <label for="Presentation">Presentation:</label>
            <input type="text" id="Name" @bind="firm.Presentation" required />
        </div>
        <div>
            <label for="ImageLocation">IMG Location:</label>
            <input type="text" id="ImageLocation" @bind="firm.ImageLocation" required />
        </div>
        <div>
            <button type="submit">Spara</button>
        </div>
    </form>
}

@code {
    [Parameter]
    public int Id { get; set; }
    public Firm firm = new Firm();
    public Firm newFirm;

    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetAsync($"/api/Firm/{Id}");
        if (response.IsSuccessStatusCode)
        {
            firm = await response.Content.ReadFromJsonAsync<Firm>();
        }
    }

    private async Task UpdateCategory()
    {
        newFirm = firm;
        try
        {
            var response = await httpClient.PutAsJsonAsync($"/api/Firm/{newFirm.Id}", newFirm);
            if (response.IsSuccessStatusCode)
            {
                navMan.NavigateTo("/Firm/ListAllFirms");
            }
            else
            {
                Console.WriteLine("Kunde inte uppdatera firman");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

}
