@page "/Firm/EditFirm/{Id:int}"
@using FribergHomezClient.Services.Base
@inject NavigationManager navMan
@using System.Net.Http.Json
@using System.Text.Json
@using FribergHomezClient.Services.ModelService
@inject HttpClient httpClient
@inject IFirmService firmService

@*Henrik*@
<div class="container">
    <h3>Redigera</h3>

    @if (firm != null)
    {
        <form @onsubmit="UpdateFirm">
            <div class="mb-3">
                <input type="text" class="form-control" id="Name" placeholder="Namn" @bind="firm.Name" required style="max-width: 500px;"/>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="Presentation" placeholder="Presentation" @bind="firm.Presentation" required rows="3" style="max-width: 500px;"></textarea>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="ImageLocation" placeholder="IMG Location" @bind="firm.ImageLocation" required style="max-width: 500px;" />
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success me-2">Spara</button>
                    <button class="btn btn-danger" @onclick="ReturnToPreviousPage">Avbryt</button>
                </div>
            </div>
        </form>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    public Firm firm = new Firm();
    public Firm newFirm;

    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetAsync($"/api/Firm/{Id}");
        if (response.IsSuccessStatusCode)
        {
            firm = await response.Content.ReadFromJsonAsync<Firm>();
        }
    }

    private async Task UpdateFirm()
    {
        newFirm = firm;
        try
        {
            await firmService.UpdateFirmAsync(Id, newFirm);
            navMan.NavigateTo("/Firm/ListAllFirms");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }
    private void ReturnToPreviousPage()
    {
        navMan.NavigateTo("/Firm/ListAllFirms");
    }

}
